.root{
    -fx-font-family: "Lato";
}

.disabled-textbox{
	-fx-background-color: #E9E9E9;
}
.textbox{
	-fx-background-color: #ffffff;
}

.btn-danger{
	-fx-background-color: #F06560;
	-fx-border: 1px solid black;
}